<!-- Footer Start-->
<div class="footer-main footer-bg">
    <div class="footer-area footer-padding">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="single-footer-caption mb-50">
                        <div class="single-footer-caption mb-30">
                            <!-- logo -->
                            <div class="footer-logo">
                                <a href="/"><img src="/public/image/logo/logo.png" alt=""></a>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <h4>Đồ án phát triển ứng dụng web</h4>
                                    <p class="info1">Giáo viên hướng dẫn: Ngô Ngọc Đăng Khoa</p>
                                    <p class="info1">Trợ giảng hướng dẫn: Trần Duy Quang</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Danh sách thành viên</h4>
                        </div>
                        <!-- Popular post -->
                        <div class="whats-right-single mb-20">
                            <div class="whats-right-img">
                                <img src="/public/image/cntn/vuong.jpg" alt="">
                            </div>
                            <div class="whats-right-cap">
                                <h4><a>Nguyễn Thị Minh Vượng</a></h4>
                                <p>18120265</p>
                            </div>
                        </div>
                        <!-- Popular post -->
                        <div class="whats-right-single mb-20">
                            <div class="whats-right-img">
                                <img src="/public/image/cntn/hieu.jpg" alt="">
                            </div>
                            <div class="whats-right-cap">
                                <h4><a>Phan Long Hiếu</a></h4>
                                <p>18120377</p>
                            </div>
                        </div>
                        <!-- Popular post -->
                        <div class="whats-right-single mb-20">
                            <div class="whats-right-img">
                                <img src="/public/image/cntn/trinh.jpg" alt="">
                            </div>
                            <div class="whats-right-cap">
                                <h4><a>Lê Thị Tuyết Trinh</a></h4>
                                <p>18120616</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Footer End-->