<div class="row">
    <div class="col-xl-8 col-lg-8 col-md-9">
        <img src="../../public/image/logo/logo.png" alt="logo" style="padding-right: 15px;">
        <i class="fa fa-calendar" aria-hidden="true"> <i id="dmy"></i> </i>
    </div>

    <div class="col-xl-4 col-lg-4 col-md-3 f-right mt-10">
        <form id="search_frm" action="http://localhost:3000/search" class="form-inline" method="GET">
            <input name="text_search" class="form-control mr-sm-2" type="search" placeholder="Search"
                aria-label="Search" style="width: 80%; height:70%">
            <button class="btn btn-success" type="submit" style="width: 30px; height:30px; padding:0 0 0 0;">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </form>
    </div>
</div>