<!-- Nav Menu Start -->
<div class="header-bottom header-sticky">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-11 col-lg-11 col-md-12 header-flex">
                <!-- sticky -->
                <div class="sticky-logo">
                    <a href="index.html"><img src="public/template/img/logo/logo.png" alt=""></a>
                </div>
                <!-- Main-menu -->
                <div class="main-menu d-none d-md-block">
                    <nav>
                        <ul id="navigation">
                            <li><a href="/"><i class="fa fa-home fa-lg" aria-hidden="true"></i></a></li>
                            {{#each lcCategories}}
                            <li><a href="/post/category/{{ID}}">{{Name}}</a>
                                <ul class="submenu">
                                    {{#each child}}
                                    <li><a href="/post/category/{{ID}}">{{Name}}</a></li>
                                    {{/each}}

                                </ul>
                            </li>
                            {{/each}}
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-xl-1 col-lg-1 col-md-1">
                <div class="header-right f-right d-none d-lg-block">
                    <!-- Heder social -->
                    
                    <!-- Search Nav -->
                    <div class="nav-search search-switch">
                        <i class="fa fa-search"></i>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu -->
            <div class="col-12">
                <div class="mobile_menu d-block d-md-none"></div>
            </div>
        </div>
    </div>
</div>

<!-- Nav Menu End -->