<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {{{_sections.title}}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/public/template/img/favicon.ico">
    <link rel="stylesheet" href="/public/template/css/bootstrap.min.css">

    {{{_sections.css}}}
</head>

<body>

    {{{body}}}


    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script src="/public/template/js/popper.min.js"></script>
    <script src="/public/template/js/bootstrap.min.js"></script>
    {{{_sections.js}}}

</body>

</html>