{{#if err_message}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{err_message}}
    </div>
{{/if}}

<form action="/login" method="POST">
    <input type="text" name="username" id="username"><br>
    <input type="text" name="password" id="password"><br><br>
    <input type="submit" value="Submit">
</form>

{{#section 'js'}}
<script>
    console.log('test section');
</script>
{{/section}}