body {
    color: #d63031;
    background: #f5f5f5;
}

h2 {
    color: #d63031;
}

.wrap-column {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
}

.form-group label {
    font-weight: bold;
    font-size: x-large;
}

.showtag {
    justify-content: space-between;
    flex-wrap: wrap;
}

.showtag label {
    font-size: medium;
    font-weight: lighter;
    color: black;
}

.input-group {
    height: 40px;
}

input.file-caption-name.form-control.kv-fileinput-caption {
    height: 100%;
}

.file-caption.icon-visible span.file-caption-icon {
    font-size: x-large;
    font-weight: bold;
    height: 100%;
    top: 0;
    left: 0;
    padding: 4px;
}

.file-footer-caption {
    margin-bottom: 0px !important;
}

.file-upload-indicator {
    visibility: hidden;
}

.btn.btn-primary.btn-file {
    background: #ee4a41;
    border: none;
    padding: 10px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btn.btn-primary.btn-file:hover {
    background-color: #be5853;
}

.btn.btn-primary.btn-file:active {
    background-color: #be5853;
}

.file-preview-thumbnails {
    display: flex;
}

.krajee-default.file-preview-frame {
    margin: auto;
    display: block;
}

button.kv-file-zoom.btn.btn-sm.btn-kv.btn-default.btn-outline-secondary {
    padding: 6px;
    border-radius: 6px;
    font-size: large;
    font-weight: bold;
}

.input-group-btn.input-group-append {
    height: 100%;
}

button.btn.btn-default.btn-secondary.fileinput-remove.fileinput-remove-button {
    padding: 10px;
    margin-left: 10px;
    margin-right: 3px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

button.luubaiviet {
    padding: 30px;
    border-radius: 10px;
    font-weight: bold;
    font-size: medium;
    height: 30px;
}

.kv-zoom-actions button {
    padding: 6px;
    border-radius: 6px;
    font-size: large;
    font-weight: bold;
}