


.top10danhmuc div.one-top10danhmuc{
    width: 400px;
    height: 400px;
    position: relative;
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    box-shadow:  -6px -2px 5px 0px #888888;
}


.top10danhmuc div.one-top10danhmuc .info{    
    position: absolute;
    background-color: white;
    bottom: 0;
    left: 0;
    padding: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 80%;
}

.top10danhmuc div.one-top10danhmuc img{    
    position: absolute;
    top: 0;
    left: 0; 
    width: 400px;
    height: 400px;
}

.top10danhmuc div.one-top10danhmuc .info a.tieude{
    font-size: x-large;
    font-weight: bold;
    color: black;
    display: block;
}

.top10danhmuc div.one-top10danhmuc .info a.tieude:hover{
    color: #EE4A41 !important;
}

.top10danhmuc div.one-top10danhmuc .info .ngay{
    color: rgb(85, 81, 81);
    font-weight: bold;
    font-size: x-small;
}