/* css cho phan tin moi  */
.tin-wrapper{
    cursor: pointer;
    transition: 0.5s;
}

.tin-wrapper:hover{
    border-radius: 10px;
    box-shadow: 2px 2px 2px red;
    transition: 0.5s;
}

.tinmoi .phai h4{
    font-size: larger !important;
    font-weight: bolder !important;
}

.tinmoi .phai p.tomtat{
    font-size: medium    !important;
}

.tinmoi .phai{
    transform: translateX(-20px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}
.tinmoi{
    height: 180px;
}

.tinmoi .trai {
    height: 100%;
}

.tinmoi .trai img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.tinmoi:hover .trai img{
    transform: scale(1.02);
    transition: 0.5s;
}

.tinmoi .tieude{
    font-size: 20px !important;
    color: black !important;
}
.tinmoi .ngaydang, .tinmoi .category {
    font-size: small !important;
}

/* css cho phan top chuye muc  */
.top10danhmuc div.one-top10danhmuc{
    width: 400px;
    height: 400px;
    position: relative;
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    box-shadow:  -6px -2px 5px 0px #888888;
}


.top10danhmuc div.one-top10danhmuc .info{    
    position: absolute;
    background-color: white;
    bottom: 0;
    left: 0;
    padding: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 80%;
}

.top10danhmuc div.one-top10danhmuc img{    
    position: absolute;
    top: 0;
    left: 0; 
    width: 400px;
    height: 400px;
}

.top10danhmuc div.one-top10danhmuc .info a.tieude{
    font-size: x-large;
    font-weight: bold;
    color: black;
    display: block;
}

.top10danhmuc div.one-top10danhmuc .info a.tieude:hover{
    color: #EE4A41 !important;
}

.top10danhmuc div.one-top10danhmuc .info .ngay{
    color: rgb(85, 81, 81);
    font-weight: bold;
    font-size: x-small;
}

/* css  cho phan tin tuc phobien */
.row.baivietphobien{
    height: 400px !important;
}

.row.baivietphobien .anh{
    height: 160px;
    object-fit: cover;
}

.row.baivietphobien .thongtin{
    height: 100px;
    display: flex;
    justify-content:space-between ;
    flex-direction: column;
}