{{#section 'css'}}
{{/section}}

{{#section 'title'}}
<title>REJECT POST</title>
{{/section}}

{{#section 'js'}}
<script>
    $('#postID').attr('style', 'display:none;');
</script>
{{/section}}

<form method="post">
    <input type="text" id="postID" name="postID" value="{{postID}}">
    <textarea name="note_reject" placeholder="Write reason why you reject the post" required="required"></textarea>
    <button type="submit">SUBMIT</button>
</form>
