
{{#section 'title'}}
    <title>Detail Post</title>
{{/section}}

{{#section 'css'}}

{{/section}}

{{#section 'js'}}

{{/section}}

<div class="card">
    <h4 class="card-header">
        Write New Posts
    </h4>
    <div class="card-body">
        <a href='/writer/post-detail/edit?postID={{this.postID}}' class="btn btn-info" role="button">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </a>
        <a href="/writer/post-detail/del" class="btn btn-info" role="button">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </a>
    </div>
</div>