{{#section 'title'}}
<title>{{this.post.Title}}</title>
{{/section}}

{{#section 'css'}}
<link rel="stylesheet" href="/public/template/css/ticker-style.css">
<link rel="stylesheet" href="/public/template/css/flaticon.css">
<link rel="stylesheet" href="/public/template/css/slicknav.css">
<link rel="stylesheet" href="/public/template/css/animate.min.css">
<link rel="stylesheet" href="/public/template/css/magnific-popup.css">
<link rel="stylesheet" href="/public/template/css/fontawesome-all.min.css">
<link rel="stylesheet" href="/public/template/css/themify-icons.css">
<link rel="stylesheet" href="/public/template/css/slick.css">
<link rel="stylesheet" href="/public/template/css/nice-select.css">
<link rel="stylesheet" href="/public/template/css/style.css">
<link rel="stylesheet" href="/public/css/detail_view.css">
<link rel="stylesheet" href="/public/css/dsPostTheoCateTag.css">
{{/section}}

{{#section 'js'}}
<!-- Jquery, Popper, Bootstrap -->

<!-- Jquery Mobile Menu -->
<script src="/public/template/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="/public/template/js/slick.min.js"></script>

<!-- One Page, Animated-HeadLin -->
<script src="/public/template/js/wow.min.js"></script>
<script src="/public/template/js/jquery.magnific-popup.js"></script>

<!-- Scrollup, nice-select, sticky -->
<script src="/public/template/js/jquery.scrollUp.min.js"></script>
<script src="/public/template/js/jquery.sticky.js"></script>

<!-- contact js -->
<script src="/public/template/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="/public/template/js/main.js"></script>

<script>
    $(document).ready(function () {
        $('.tag-detailed-view').on('click', function () {
            console.log(this.id);
            window.location.href = "/post/tag/" + this.id;
        });
    });
</script>
{{/section}}

{{> header-top}}

<main>
    {{#if this.post.Premium}}
    {{#if session.user.premium}}
    {{!-- render bai viet (gom main content, sidebar, phan binh luan) --}}
    {{> main-content-detailedView}}
    {{else}}
    {{!-- Thong bao bai nay la premium --}}
    <p>Bai viet nay la premium</p>
    {{/if}}
    {{else}}
    {{!-- render bai viet (gom main content, sidebar, phan binh luan) --}}
    {{> main-content-detailedView}}
    {{/if}}
</main>