{{#section 'title'}}
<title>{{this.post.Title}}</title>
{{/section}}

{{#section 'css'}}
<link rel="stylesheet" href="/public/template/css/ticker-style.css">
<link rel="stylesheet" href="/public/template/css/flaticon.css">
<link rel="stylesheet" href="/public/template/css/slicknav.css">
<link rel="stylesheet" href="/public/template/css/animate.min.css">
<link rel="stylesheet" href="/public/template/css/magnific-popup.css">
<link rel="stylesheet" href="/public/template/css/fontawesome-all.min.css">
<link rel="stylesheet" href="/public/template/css/themify-icons.css">
<link rel="stylesheet" href="/public/template/css/slick.css">
<link rel="stylesheet" href="/public/template/css/nice-select.css">
<link rel="stylesheet" href="/public/template/css/style.css">
<link rel="stylesheet" href="/public/css/detail_view.css">
{{/section}}

{{#section 'js'}}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- Jquery Mobile Menu -->
<script src="/public/template/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="/public/template/js/slick.min.js"></script>

<!-- One Page, Animated-HeadLin -->
<script src="/public/template/js/wow.min.js"></script>
<script src="/public/template/js/jquery.magnific-popup.js"></script>

<!-- Scrollup, nice-select, sticky -->
<script src="/public/template/js/jquery.scrollUp.min.js"></script>
<script src="/public/template/js/jquery.sticky.js"></script>

<!-- contact js -->
<script src="/public/template/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="/public/template/js/main.js"></script>

<script>
    $(document).ready(function () {
        $('.tag-detailed-view').on('click', function () {
            console.log(this.id);
            window.location.href = "/post/tag/" + this.id;
        });

        $('.xoa').click(function (e) {
            e.preventDefault();
            var commentID = parseInt(this.id)
            console.log(commentID);
            Swal.fire({
                title: 'Bạn có muốn xóa bài viết này ?',
                showCancelButton: true,
                confirmButtonText: 'Xác nhận',
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
            }).then((result) => {
                if (result.isConfirmed) {
                    console.log(window.location.href)
                    $.post(window.location.href+'/del-comment', { commentID }, function (data) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Xóa bài viết thành công',
                            showConfirmButton: true,
                            confirmButtonColor: '#3085d6',
                        })
                            .then((result) => {
                                if (result.isConfirmed) {
                                    window.location.reload()
                                }
                            })
                    })
                        .fail((data, status) => {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Không thể xóa bài viết!',
                            })
                        });
                }
            })
        })
    });
</script>
{{/section}}

{{> header-top}}

<main>
    {{#if this.post.Premium}}
    {{#if session.user.premium}}
    {{!-- render bai viet (gom main content, sidebar, phan binh luan) --}}
    {{> main-content-detailedView}}
    {{else}}
    {{!-- Thong bao bai nay la premium --}}
    <div class="container" style="padding-top: 20px; ">
    <div class="row wrap-column d-flex align-items-center" style="background-color: white; border-radius: 10px; " >
        <div style="margin-top: 20px;  height: 100%; width: 100%;
          display: flex; align-items: center;
          justify-content: center; align-content:center;">
            <h4> Đây là bài viết Premium! </h4>
            <br>
        </div>
        <div style=" margin-bottom: 20px; height: 100%; width: 100%;
          display: flex; align-items: center;
          justify-content: center; align-content:center;">
            {{#if session.user.subPremium}}
                <h4> Bạn đã đăng ký Premium, hãy chờ admin duyệt nhé!</h4>
            {{else}}
                <h4> Hãy <a href="/subcriber/profile" style="text-decoration: underline; color:blue;">đăng ký</a> Premium để đọc được bài viết này!</h4>
            {{/if}}
        </div>
        
    </div>
    </div>
    {{/if}}
    {{else}}
    {{!-- render bai viet (gom main content, sidebar, phan binh luan) --}}
    {{> main-content-detailedView}}
    {{/if}}
</main>